main
testing
suffix
uni
compress-lexi
compress-uni
compress-suffix
decompress0
decompress1
*.o
tests/*.compressed
tests/*.decompressed
tmp/*

tests/trzysta*
tests/mobi*
tests/epub*
tests/pdf*
tests/bin*
tests/rfc*
tests/1*MB*
